Package: com.pxcex.bbmmod
Name: BBM Mod
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: pxcex
Author: pxcex
Section: Tweaks
