Package: com.pxcex.pathpremium
Name: Path Premium
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Full Premium Path, Download semua Sticker secara gratis, Download filter kamera gratis, Tidak ada iklan. Enjoy!!!
Maintainer: pxcex
Author: pxcex
Section: Tweaks
