Package: com.pxcex.pathpremium
Name: Path Premium
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Full Premium Path, Download semua Sticker secara gratis, Download filter kamera gratis, Tidak ada iklan. Enjoy!!!
Maintainer: pxcex
Author: pxcex
Section: Tweaks
Version: 0.0.1-3+debug
Installed-Size: 120
